@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

$primaryColor: #ffcc00;
$textColor: #333;
$textFont: 'Ralewy', sans-serif;
$titleFont: 'Roboto', sans-serif;

.uppercase{
	text-transform: uppercase;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all .3s ease-in;
}
html{
	font-size: 10px;
	height: 100%;
}
body{
	min-height: 100%;
	font-size: 1.4rem;
	font-family: $textFont;
	color: $textColor;
	line-height: 1.6;
}

.container{
	margin: 0 auto;
	max-width: 1140px;
}

.section{
	padding: 80px 0;
	&__heading{
		text-align: center;
	}
	&__title{
		font-size: 6rem;
		line-height: 1.1;
		font-family: $titleFont;
		font-weight: 900;
		color: $primaryColor;
		@extend .uppercase;
		margin: 0;
		padding-bottom: 40px;
		position: relative;
		&:before,
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
		}
		&:before{
			display: inline-block;
			width: 460px;
			border-bottom: 1px solid $primaryColor;
		}
		&:after{
			display: inline-block;
			width: 30px;
			height: 30px;
			background-color: #fff;
			background-image: url(../img/bonfire.png);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__subtitle{
		font-family: $textFont;
		font-weight: 400;
		@extend .uppercase;
	}
}

@mixin border($color){
	border: 1px solid $color;
}

.slider{
	position: relative;
	margin-top: 50px;
	&__wrap{
		height: 100%;
	}
	&__item{
		height: 100%;
	}
	&__arrow{
		position: absolute;
		width: 50px;
		top: 0;
		bottom: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../img/left_arrow.png);
		&--prev{
			left: 0;
			&:hover,&:focus,&:active{
				transform: scale(1.2);
			}
		}
		&--next{
			right: 0;
			transform: rotate(180deg);
			&:hover,&:focus,&:active{
				transform: rotate(180deg) scale(1.2);
			}
		}
		
	}
	&__dots{
		position: absolute;
		bottom: -50px;
		left: 0;
		right: 0;
		padding: 0;
		margin: 0;
		text-align: center;
		& li{
			display: inline-block;
			margin: 5px;
			& a {
				display: inline-block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: $primaryColor;
				@include border($primaryColor);

				&:hover,
				&:focus,
				&:active{
					background-color: #fff;
					transform: scale(1.5);
				}
			}
		}
	}
}

.profile{
	display: flex;
	align-items: stretch;
	height: 100%;
	&__section{
		width: 50%;
		padding: 80px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__section + &__section{
		border-left: 1px solid $primaryColor;
	}
	&__image{
		@include border($primaryColor);
		width: 100%;
		position: relative;
		z-index: 1;
	}
	&__image-wrap{
		@include border($primaryColor);
		padding: 15px;
		font-size: 0;
		position: relative;
		&:before,
		&:after{
			content: '';
			display: inline-block;
			width: 102%;
			height: 220px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
		}
		&:before{
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}

	&__name{
		font-size: 3.6rem;
		font-family: $titleFont;
		color: #666;
		font-weight: 900;
		position: relative;
		margin-bottom: 60px;
		&:after{
			content: "";
			display: inline-block;
			width: 100px;
			border-bottom: 1px solid $primaryColor;
			position: absolute;
			bottom: -35px;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__text{
		position: relative;
		margin-bottom: 50px;
		&:after{
			content: "";
			display: inline-block;
			width: 100px;
			height: 5px;
			background-image: linear-gradient(to right, $primaryColor 0, $primaryColor 20%, transparent 20%, transparent 35%, $primaryColor 35%, $primaryColor 65%, transparent 65%, transparent 80%, $primaryColor 80%, $primaryColor 100%);
			position: absolute;
			bottom: -25px;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__post{
		font-size: 2.4rem;
		color: #666;
	}
	&__link{
		text-transform: uppercase;
		text-decoration: none;
		font-family: $titleFont;
		font-size: 1.4rem;
		color: #666;
		font-weight: 900;
		@include border($primaryColor);
		display: inline-block;
		padding: 5px 12px;
		&:hover, &:focus, &:active{
			background-color: #ecbd01;
			box-shadow: -5px -3px grey;
			color: #fff;
		}
	}
	&__socials{
		list-style-type: none;
		padding: 0;
		li{
			display: inline-block;
			margin-right: 5px;
			a{
				display: inline-block;
				width: 2.8rem;
				height: 2.8rem;
				line-height: 2.8rem;
				font-size: 0.9em;
				color: #ccc;
				@include border(#ccc);
				border-radius: 50%;
				&:hover{
					@include border($primaryColor);
					color: $primaryColor;
					transform: scale(1.4);
				}
			}
		}
	}
}



